<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>958123674908-aj61mjjb1kp4hokaajhopqdku98qis75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958123674908-aj61mjjb1kp4hokaajhopqdku98qis75</string>
	<key>API_KEY</key>
	<string>AIzaSyBZPYM277PWBvsmwLMx4u3Pn6PYIQZbgU4</string>
	<key>GCM_SENDER_ID</key>
	<string>958123674908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nibm.dush.NIBMConnect</string>
	<key>PROJECT_ID</key>
	<string>nibmconnect-1e886</string>
	<key>STORAGE_BUCKET</key>
	<string>nibmconnect-1e886.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958123674908:ios:b11cb288ea78a808</string>
	<key>DATABASE_URL</key>
	<string>https://nibmconnect-1e886.firebaseio.com</string>
</dict>
</plist>